.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .info {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: end;

    .link {
      text-decoration: none;
      color: var(--second-color-font)
    }
  }

  .info>p {
    display: inline-block;
    width: max-content;
  }
}
