@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

$main-font: "Tilt Neon", sans-serif;
$main-color-font: rgb(183, 183, 183);
$posts-background: #111111;
$posts-pattern: rgba(8, 8, 8, 0.74);
$post-backgroud: #1a1a1a;
$gradient: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
$green-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
$white: white;
$black: #141414f3;
