@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

$main-font: "Tilt Neon", sans-serif;
$bright-grey: rgb(213, 213, 213);
$pale-purple: rgb(159, 159, 205);
$grey: rgb(161, 161, 161);
$white: white;
$header: rgb(42, 50, 134);