@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

$main-font: "Tilt Neon", sans-serif;
$main-color-font: rgb(183, 183, 183);
$posts-background: rgb(17, 17, 17);
$posts-pattern: rgb(11, 11, 11);
$post-backgroud: rgb(26, 26, 26);
$gradient: linear-gradient(163deg, rgb(0, 255, 117) 0%, rgb(55, 0, 255) 100%);
$green-shadow: 0px 0px 30px 1px rgb(14, 91, 49);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
