.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: max-content;
  width: max-content;
  border-radius: 10px;
  background-color: var(--white);

  .button {
    margin-top: 15px;
  }
}

.error {
  color: var(--red)
}
