.box {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--white);

  .button {
    margin-top: 15px;
  }

  .error {
    font-family: var(--font);
    color: var(--red)
  }

  .buttons {
    margin: 10px 0;

    .buttonAuth {
      border: 1px solid white;
    }
  
    .buttonAuth:hover {
      border: 1px solid black;
    }
  }

}
