.header {
  background-image: var(--gradient);
  color: var(--white);
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  box-shadow: var(--green-shadow);
}

.logo {
  height: 60%;
}

.logo > img {
  height: 100%;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 50px;
}
